body{
    background: black;
    color: #fff;
}
h1{
    background:blue;
    color: #fff;
    font-size: 1.75rem;
    padding: 18px 0;
    text-align: center;
}
.container{
    display: flex;
    padding: 30px;
    gap: 35px;
}
.weather-input{
    width: 550px;
}
.weather-input input{
    width: 92%;
    height: 46px;
    outline-color: blue;
    padding: 0 15px;
    margin: 10px 0 20px 0;
    font-size: 1.05rem;
    border: 1px solid;
    border-radius: 5px;
}
.weather-input .line{
    height: 1px;
    width: 100%;
    background:#fff;
}
.weather-input button{
    width: 100%;
    height: 46px;
    outline-color: blue;
    padding: 0 15px;
    margin: 10px 0 20px 0;
    font-size: 1.05rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: blue;
}
.weather-data{
    width: 100%;
}
.current-weather{
    background:grey;
    color: #fff;
    padding: 20px 70px 20px 20px;
    border-radius: 5px;
    display:flex;
    justify-content: space-between;
}
.current-weather h2{
    font-size: 1.5rem;
}
.current-weather h4{
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}
.current-weather .weather-condition h4{
margin-top: -10px;
text-transform: capitalize;
}
.days-forecast h2{
    font-size: 1.5rem;
    margin: 20px 0;
    text-align: center;
}
.weather-cards{
    display: flex;
    gap: 20px;
}
.weather-cards .card{
    background: grey;
    color: #fff;
    padding: 18px 16px;
    list-style: none;
    border-radius: 5px;
    width: calc(100 / 5);
}
